<!DOCTYPE html>
<html>
    <head>
        <style>
            .my-1btn {
                display: inline-block; /* Строчно-блочный элемент */
                background: #c6cdd5; /* Серый цвет фона */
                color: #fdfdff; /* Белый цвет текста */
                padding: 1.5mm 1.5mm; /* Поля вокруг текста */
                text-decoration: none; /* Убираем подчёркивание */
                border-radius: 3px; /* Скругляем уголки */
            }
            .popup{
                position: fixed;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.8);
                top: 0;
                left: 0;
                opacity: 0;
                visibility: hidden;
                overflow-y: auto;
                overflow-x: hidden;
                transition: all 0.8s ease 0s;
            }
            .popup:target{
                opacity: 1;
                visibility: visible;
            }
            .popup:target .popup_content{
                transform: translate(0px,0px);
                opacity: 1;
            }
            .popup_body{
                min-height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 30px 10px;
            }
            .popup_content{
                background-color: white;
                color: #070707;
                max-width: 800px;
                padding: 30px;
                position: relative;
                transition: all 0.8s ease 0s;
                opacity: 0;
                transform: translate(0px,-100%);
            }
            .popup_close{
                position: absolute;
                right: 10px;
                top: 10px;
                font-size: 20px;
                color: #0a0a0a;
                text-decoration: none;
            }
            .popup_arrea{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
            .popup_title{
                font-size: 40px;
                margin: 0px 0px 1em 0px;
            }
            .popup_text{

            }
            .popup_form{

            }

        </style>
        <meta charset="UTF-8">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/blog.css" rel="stylesheet">
    </head>
    <body>
   {#  <div id="popup" class="popup">
        <a href="#header" class="popup_arrea"></a>
        <div class="popup_body">
            <div class="popup_content">
                <a href="#header" class="popup_close">X</a>
                    <div class="popup_title">{{ 'Enter your email '|trans }}</div>
                    <div class="popup-text">
                         {{ form_start(form) }}
                        <div class="my-class">
                            {{ form_label(form.Email) }}
                            {{ form_widget(form.Email) }}
                            {{ form_errors(form.Email) }}
                        </div></br>
                        <button type="submit" class="btn btn-danger">{{ 'Send Form'|trans }}</button>
                        {{ form_end(form) }}
                    </div>
            </div>
        </div>
    </div>#}
    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-8 d-flex  justify-content-start align-items-start">
                    <a class="my-1btn" href="{{ path('homepage') }}">{{ 'Homepage'|trans }}</a>&nbsp&nbsp&nbsp&nbsp

                    <a class="my-1btn"  href="{{ path(app.request.get('_route'),
                        app.request.get('_route_params')
                        |merge({ _locale:'en' }))
                            }}">EN</a>&nbsp

                    <a class="my-1btn"  href="{{
                        path(app.request.get('_route'),
                        app.request.get('_route_params')
                        |merge({ _locale:'uk' }))
                             }}">UK</a>&nbsp

                    <a class="my-1btn"  href="{{
                    path(app.request.get('_route'),
                        app.request.get('_route_params')
                        |merge({ _locale:'ru' }))
                            }}">RU</a>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

                    <a class="my-1btn" href="{{ path('subscribe') }}">{{ 'Subscription to the newsletter'|trans }}</a>
                </div>


                <div class="col-4 d-flex justify-content-end align-items-center">
                    {% if app.user %}
                        {{ 'Hello'|trans }} ,&nbsp
                        <b style="color: #3ff59a"><a href="{{ path('admin_index') }}">{{ app.user }}</a>
                        </b>&nbsp<b>!</b>  &nbsp &nbsp
                        <a class="my-1btn" href="{{ path('logout') }}">{{ 'Logout'|trans }}</a>
                    {% else %}
                         <a class="my-1btn" href="{{ path('user_create') }}">
                             {{ 'Registration'|trans }}</a>&nbsp
                        <a class="my-1btn" href="{{ path('login') }}">{{ 'Login'|trans }}</a>
                    {% endif %}

                </div>
            </div>
        </header>
        <h1>{{ 'Developer. Launch Symfony PHP'|trans }}</h1>
        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-start">
                <a class="p-2 link-secondary" href="{{ path('default_about') }}" target="_blank">{{ 'About'|trans }}</a>
                <a class="p-2 link-secondary" href="{{ path('default_feedback') }}" target="_blank">{{ 'Feedback'|trans }}</a>
                <a class="p-2 link-secondary" href="https://www.instagram.com/" target="_blank">{{ 'Instagram'|trans }}</a>
                <a class="p-2 link-secondary" href="https://uk-ua.facebook.com/" target="_blank">{{ 'Facebook'|trans }}</a>
                <a class="p-2 link-secondary" href="https://www.youtube.com/" target="_blank">{{ 'YouTube'|trans }}</a>
                {% if is_granted('ROLE_ADMIN') %}
                <a class="p-2 link-secondary" href="{{ path('post_create') }}" target="_blank">{{ 'New post'|trans }}
                <a class="p-2 link-secondary" href="{{ path('admin_index') }}" target="_blank">{{ 'Admin'|trans }}</a>
                {% endif %}
            </nav>
        </div>
    </div>
    <main class="container">
        {% block body %}{% endblock %}
    </main>
    <footer class="blog-footer">
        <p>{{ 'Professional Development Blog in PHP'|trans }} <a href="https://burm.drived.space/en/account/">DriveEd</a> {{ 'by'|trans }} <a href="https://www.instagram.com/burm.alex/">@burm.alex</a>.</p>
        <p>
            <a href="#">{{ 'Back to top'|trans }}</a>
        </p>
    </footer>
    </body>
</html>
