{% for label,messages in app.flashes(['success', 'warning', 'info']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} text-center">
            {{ message }}
         </div>
    {% endfor %}
{% endfor %}