<p>Уважаемый администратор, на Ваш Gmail пользователь <b>{{ data.name }}</b> отправил(а) письмо, вот его соодержимое :</p>
<p><b>{{ data.description}}</b> .</p>
<p>Контакты пользователя <b>{{ data.name }}</b> для обратной связи:</p>
<b>{{ data.contacts}}</b> .