{% extends 'layout.html.twig' %}
{% block body %}
    <h1>works new post</h1>
    <div class="row">
        <div class="col-4">
            {{ form(formPost) }}
        </div>
    </div>


{% endblock %}