{% extends 'layout.html.twig' %}
{% block body %}
  <div class="row g-5">
      <div class="col-md-8">
          <article class="blog-post">
              <h2 class="blog-post-title">{{ post.getName() }}</h2>
                  <p class="blog-post-meta">
                        {{ post.getPublishedAt()|date('d-n-y') }}
                      <a href="{{ path('post_edit', {post: post.getId()}) }}">edit</a> this post or
                      <a href="{{ path('post_delete', {post: post.getId()}) }}">delete</a> the post
                  </p>
                  <p>{{ post.getDescription() }}</p>
                      <br/>
          </article>
      </div>
  </div>
{% endblock %}