{% extends 'layout.html.twig' %}
{% block body %}
    <h3>{{ 'Post editing page'|trans({},'post') }}</h3>
    <h4>{{ 'Edit existing news'|trans({},'post') }} : "{{ post.name }}"</h4>
    <div class="row">
        <div class="col-4">
            {{ form(formPost) }}
        </div>
    </div>
    {#  <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create( document.querySelector( '#form_post_description' ) )
            .catch( error => {
                console.error( error );
            } );
        ClassicEditor
            .create( document.querySelector( '#form_post_name' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>#}

{% endblock %}