{% extends 'layout.html.twig' %}
{% block body %}
    <h1>{{ 'Post view page'|trans({},'post') }}</h1>
  <div class="row g-5">
      <div class="col-md-8">
          <article class="blog-post">
              <h3 class="blog-post-title">{{ post.getName() }}</h3>
                  <p class="blog-post-meta">
                        {{ post.getPublishedAt()|date('d-n-y') }}
                      {% if is_granted('ROLE_ADMIN') %}
                      <a href="{{ path('post_edit', {post: post.getId()}) }}">{{ 'edit'|trans({},'post') }}</a>
                      {{ 'this post or'|trans({},'post') }}
                      <a href="{{ path('post_delete', {post: post.getId()}) }}"
                         onclick="return confirm('{{ 'Are you sure?'|trans({},'post') }}')">{{ 'delete'|trans({},'post') }}</a>
                      {{ 'the post'|trans({},'post') }}
                      {% endif %}
                  </p>
                  <p>{{ post.getDescription() }}</p>
                      <br/>
          </article>
      </div>
      {% if is_granted('ROLE_ADMIN') %}
      <div>
      <ul><h5>{{ 'Download this post in format'|trans({},'post') }}:</h5>
          <li><a href="{{ path('post_download_html', {post: post.getId()}) }}">HTML</a></li>
          <li><a href="{{ path('post_download_csv', {post: post.getId()}) }}">CSV</a></li>
      </ul>
      </div>
      {% endif %}
  </div>
{% endblock %}