{% extends 'layout.html.twig' %}
{% block body %}

    <div class="col-md-4">
        <div class="" style="top: 2rem;">
            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="fst-italic">{{ 'About'|trans }}</h4>
                <p class="mb-0">
                <ul>
                    <li>{{ 'Installing the symfony project skeleton'|trans }}</li>
                    <li>{{ 'Getting to know the package manager COMPOSER'|trans }}</li>
                    <li>{{ 'Addressing, general principles'|trans }}</li>
                    <li>{{ 'Template Engine TWIG .Principles MVC'|trans }}</li>
                    <li>{{ 'PHP Standards Recommendations'|trans }}</li>
                    <li>{{ 'Work with the database.Creating entities.Migrations'|trans }}</li>
                    <li>{{ 'Working with forms'|trans }}</li>
                    <li>{{ 'Principles SOLID.Services'|trans }}</li>
                    <li>{{ 'Automated testing'|trans }}</li>
                    <li>{{ 'Sending mail'|trans }}</li>
                    <li>{{ 'Multilinguality'|trans }}</li>
                    <li>{{ 'Authorization and authentication'|trans }}</li>
                    <li>{{ 'Console commands'|trans }}</li>
                    <li>{{ 'Event/listener model'|trans }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}