{% extends 'layout.html.twig' %}
{% block body %}
    {% set dad ='папа'%}
    {% set mom='мама'%}
    {% set son='сын'%}
    {% set daughter='дочка'%}
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">{{ users.0.name }}  {{ dad }} ему {{ users.0.age }} лет</h1>
            <h1 class="display-4 fst-italic">{{ users.1.name }}  {{ mom }} ей {{ users.1.age }} лет</h1>
            <p class="lead my-3">
                {{ users.0.name }} и {{ users.1.name }} имеют двух детей:<br/>
                {{ son }} {{ nameOne }} ему {{ ageMark }} лет и {{daughter}} {{ nameTwo }} ей {{ ageDiana}} лет
            </p>
            <p class="lead mb-0"><a href="#" class="text-white fw-bold">{{ 'Continue reading...'|trans }}</a></p>
        </div>
    </div>
    <div class="row g-5">
        <div class="col-md-8">
            {% for post in list %}
            <article class="blog-post">
                    <h2 class="blog-post-title">{{ post.getName() }}</h2>
                    <p class="blog-post-meta">
                        {{ post.getPublishedAt()|date('d-n-y') }},
                        <a href="{{ path('post_show', { post: post.getId() } ) }}">{{ 'show'|trans({},'post') }}</a></p>
                    <p>{{ post.getDescription() }}</p>
                    <br/>
            </article>
            {% endfor %}

            <nav aria-label="Page navigation example">


                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" data-page="first" href="{{ path('homepage', {page: 1}) }}"> << </a>
                    </li>

                    {% if pager.page > 1 %}
                    <li class="page-item">
                        <a class="page-link" data-page="prev" href="{{ path('homepage', {page: pager.page - 1}) }}"> < </a>
                    </li>
                    {% endif %}

                    {% for i in range(1, pager.pages) %}
                    <li class="page-item {{ i == pager.page ? 'active' : '' }}">
                        <a class="page-link" href="{{ path('homepage', {page: i}) }}">{{ i }}</a>
                    </li>
                    {% endfor %}

                    {% if pager.page < pager.pages %}
                    <li class="page-item">
                        <a class="page-link" data-page="next" href="{{ path('homepage', {page: pager.page + 1}) }}"> > </a>
                    </li>
                    {% endif %}

                    <li class="page-item">
                        <a class="page-link" data-page="last" href="{{ path('homepage', {page: pager.pages}) }}"> >> </a>
                    </li>
                </ul>
            </nav>
        </div>

    <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="fst-italic">{{ 'About'|trans }}</h4>
                <p class="mb-0">{{ 'This site is intended to present the skills I learned while teaching the PHP language and the Symfony framework. Specifically'|trans }}.</p>
            </div>
               <div class="mb-0">
                <ul>
                    <li>{{ 'Installing the symfony project skeleton'|trans }}</li>
                    <li>{{ 'Getting to know the package manager COMPOSER'|trans }}</li>
                    <li>{{ 'Addressing, general principles'|trans }}</li>
                    <li>{{ 'Template Engine TWIG .Principles MVC'|trans }}</li>
                    <li>{{ 'PHP Standards Recommendations'|trans }}</li>
                    <li>{{ 'Work with the database.Creating entities.Migrations'|trans }}</li>
                    <li>{{ 'Working with forms'|trans }}</li>
                    <li>{{ 'Principles SOLID.Services'|trans }}</li>
                    <li>{{ 'Automated testing'|trans }}</li>
                    <li>{{ 'Sending mail'|trans }}</li>
                    <li>{{ 'Multilinguality'|trans }}</li>
                    <li>{{ 'Authorization and authentication'|trans }}</li>
                    <li>{{ 'Console commands'|trans }}</li>
                    <li>{{ 'Event/listener model'|trans }}</li>
                </ul>
            </div>

            <div class="p-4">
                <h4 class="fst-italic">{{ 'Archives'|trans }}</h4>
                <ol class="list-unstyled mb-0">
                    <li><a href="#">{{ 'March'|trans }} 2021</a></li>
                    <li><a href="#">{{ 'February'|trans }} 2021</a></li>
                    <li><a href="#">{{ 'January'|trans }} 2021</a></li>
                    <li><a href="#">{{ 'December'|trans }} 2020</a></li>
                    <li><a href="#">{{ 'November'|trans }} 2020</a></li>
                    <li><a href="#">{{ 'October'|trans }} 2020</a></li>
                    <li><a href="#">{{ 'September'|trans }} 2020</a></li>
                    <li><a href="#">{{ 'August'|trans }} 2020</a></li>
                    <li><a href="#">{{ 'July'|trans }} 2020</a></li>
                    <li><a href="#">{{ 'June'|trans }} 2020</a></li>
                    <li><a href="#">{{ 'May'|trans }} 2020</a></li>
                    <li><a href="#">{{ 'April'|trans }} 2020</a></li>
                </ol>
            </div>
        </div>
    </div>

    </div>
{% endblock %}
