{% extends 'layout.html.twig' %}
{% block body %}

    {% if error %}
        <span style="color: #da9a26">{{ error.messageKey}}</span>
    {% endif %}
    <form action="{{ path('login') }}" method="post">
        <div class="col-4">
        <p>
            Login: <input type="text" class="form-control" name="_username" value="{{ last_username }}" />
        </p>
        <p>
            Password: <input type="password" class="form-control" name="_password" />
        </p>
        <button type="submit" class="btn btn-outline-primary">Submit!</button>
        </div>
        <br/>
    </form>

{% endblock %}