{% extends 'layout.html.twig' %}
{% block body %}
    <h1>Money converter</h1>
    <p>
        <label>$</label>
        <input type="number" id="inputdol" placeholder="$" oninput="moneyConverter(this.value)"
               onchange="moneyConverter(this.value)" >
    </p>
    <p> Гривны = <span id="outputgrn"></span> </p>
    <script>
        function moneyConverter(valNum){
            document.getElementById("outputgrn").innerHTML=valNum*27.3;
        }
    </script>

{% endblock %}









