{% extends 'layout.html.twig' %}
{% block body %}
    <style>
        .my-1btn {
            display: inline-block; /* Строчно-блочный элемент */
            background: #8C959D; /* Серый цвет фона */
            color: #fff; /* Белый цвет текста */
            padding: 1.5mm 1.5mm; /* Поля вокруг текста */
            text-decoration: none; /* Убираем подчёркивание */
            border-radius: 3px; /* Скругляем уголки */
        }
    </style>

    <b> Привет {{ app.user }}</b>

<div class="col-md-8">
    {% for item in subscribers %}
        <h2> {{ item.getEmail}}     </h2>
        <h6>{{ item.getSubscriptionDate|date('d-n-y') }}</h6>
    {% endfor %}
</div>

   <a href="#" class="my-1btn ">{{ 'Замена пароля'|trans }}</a></br></br>
    <a href="#" class="my-1btn ">{{ 'Таблица админов'|trans }}</a></br>

<div class="row-cols-4">
    {% for item in user %}
        <article >
            <h2>{{ item.getLogin() }}</h2>
            <p>{{ item.getEmail() }},
            <p>{{ item.getPhoneNumber() }}</p>
        </article>
    {% endfor %}
</div>



    {#    <table   width="300" border="1" style="border-radius: 10px;font-size: 19px;font-family: Aharoni;text-align: center;float: left " >#}
{#        <?php foreach ($arr as $value):?>#}
{#        <?php if(0<$value['ageTriumf']):?>#}
{#        <tr>#}
{#            <td  style="border:transparent solid 5px;color:#fafcfa;background-color: transparent">#}
{#                <b><?php echo $value['name'].' '.$value['fam']?></b> </td>#}
{#            <td style="border:transparent solid 5px;color:#f3faf1;background-color: transparent" >#}
{#                <b><?php echo $value['ageTriumf']?></b></td>#}
{#        </tr>#}
{#        <?php endif ?>#}
{#        <?php endforeach ?>#}
{#    </table>#}
{#    </br>#}
{#<div class="row g-5">#}
{#        {% for item in user %}#}
{#            <article class="blog-post">#}
{#                <h2 class="blog-post-title">{{ item.getUsername() }}</h2>#}
{#                <p class="blog-post-meta">#}
{#                    {{ item.getEmail() }},#}
{#                <p>{{ item.getPhoneNumber() }}</p>#}
{#                <br/>#}
{#            </article>#}
{#        {% endfor %}#}
{#    </div>#}
{#    </br>#}
{#<h1>Money converter</h1>#}
{#    <p>#}
{#        <label>$</label>#}
{#        <input type="number" id="inputdol" placeholder="$" oninput="moneyConverter(this.value)"#}
{#               onchange="moneyConverter(this.value)" >#}
{#    </p>#}
{#    <p> Гривны = <span id="outputgrn"></span> </p>#}
{#    <script>#}
{#        function moneyConverter(valNum){#}
{#            document.getElementById("outputgrn").innerHTML=valNum*26.4;#}
{#        }#}
{#    </script>#}

{% endblock %}









