{% extends 'layout.html.twig' %}
{% block body %}
    <h4>{{ 'New user creation page'|trans({},'user') }}</h4>
    <div >
    {{ form_start(form) }}
    <div class="my-class">
        {{ form_label(form.login) }}
        {{ form_widget(form.login) }}
        {{ form_errors(form.login) }}
    </div>
    <div class="my-class">
        {{ form_widget(form.password) }}
        {{ form_errors(form.password) }}
    </div>
    <div class="my-class">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
    </div>
    <div class="my-class">
        {{ form_label(form.phone_number) }}
        {{ form_widget(form.phone_number) }}
        {{ form_errors(form.phone_number) }}
    </div>

    </div></br>

    <button type="submit" class="btn btn-danger">{{ 'Register'|trans({},'user') }}</button>
    {{ form_end(form) }}
{% endblock %}