{% extends 'layout.html.twig' %}
{% block body %}
                    <div class="popup_title">{{ 'Enter your email '|trans }}</div>
                    <div class="col-4">
                         {{ form_start(form) }}
                        <div class="my-class">
                            {{ form_label(form.Email) }}
                            {{ form_widget(form.Email) }}
                            {{ form_errors(form.Email) }}
                        </div></br>
                        <button type="submit" class="btn btn-danger">{{ 'Send Form'|trans }}</button>
                        {{ form_end(form) }}
                    </div>

{% endblock %}