{% extends 'layout.html.twig' %}
{% block body %}
    {% set dad ='папа'%}
    {% set mom='мама'%}
    {% set son='сын'%}
    {% set daughter='дочка'%}

    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">{{ users.0.name }}  {{ dad }} ему {{ users.0.age }} лет</h1>
            <h1 class="display-4 fst-italic">{{ users.1.name }}  {{ mom }} ей {{ users.1.age }} лет</h1>
            <p class="lead my-3">
                {{ users.0.name }} и {{ users.1.name }} имеют двух детей:<br/>
                {{ son }} {{ nameOne }} ему {{ ageMark }} лет и {{daughter}} {{ nameTwo }} ей {{ ageDiana}} лет
            </p>
            <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
        </div>
    </div>

    <div class="row g-5">
        <div class="col-md-8">
            <article class="blog-post">
                {% for item in post %}
                    <h2 class="blog-post-title">{{ item.getName() }}</h2>
                    <p class="blog-post-meta">
                        {{ item.getPublishedAt()|date('d-n-y') }},
                        <a href="{{ path('post_show', { post: item.getId() } ) }}">show</a></p>
                    <p>{{ item.getDescription() }}</p>
                    <br/>
                {% endfor %}
            </article>
        </div>
    </div>

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>

        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="fst-italic">About</h4>
                    <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
                </div>

                <div class="p-4">
                    <h4 class="fst-italic">Archives</h4>
                    <ol class="list-unstyled mb-0">
                        <li><a href="#">March 2021</a></li>
                        <li><a href="#">February 2021</a></li>
                        <li><a href="#">January 2021</a></li>
                        <li><a href="#">December 2020</a></li>
                        <li><a href="#">November 2020</a></li>
                        <li><a href="#">October 2020</a></li>
                        <li><a href="#">September 2020</a></li>
                        <li><a href="#">August 2020</a></li>
                        <li><a href="#">July 2020</a></li>
                        <li><a href="#">June 2020</a></li>
                        <li><a href="#">May 2020</a></li>
                        <li><a href="#">April 2020</a></li>
                    </ol>
                </div>

                <div class="p-4">
                    <h4 class="fst-italic">Elsewhere</h4>
                    <ol class="list-unstyled">
                        <li><a href="#">GitHub</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
