<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/blog.css" rel="stylesheet">
    </head>
    <body>
    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-8 d-flex  justify-content-start align-items-start">
                    <a href="{{ path('homepage') }}">Logo</a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
                </div>
            </div>
        </header>

        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-start">
                <a class="p-2 link-secondary" href="{{ path('default_about') }}" target="_blank">About</a>
                <a class="p-2 link-secondary" href="{{ path('default_feedback') }}" target="_blank">Feedback</a>
                <a class="p-2 link-secondary" href="https://www.instagram.com/" target="_blank">Instagram</a>
                <a class="p-2 link-secondary" href="https://uk-ua.facebook.com/" target="_blank">Facebook</a>
                <a class="p-2 link-secondary" href="https://www.youtube.com/" target="_blank">YouTube</a>
                <a class="p-2 link-secondary" href="{{ path('post_create') }}" target="_blank">New post</a>
            </nav>
        </div>
    </div>
    <main class="container">
        {% block body %}{% endblock %}
    </main>
    <footer class="blog-footer">
        <p>Professional Development Blog <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        <p>
            <a href="#">Back to top</a>
        </p>
    </footer>
    </body>
</html>
